<div class="container">
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528832095909-2f2436122ce6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=10)">
    <div class="col-md-12 px-0 p-5">
      <h1 class="display-4 font-italic">Mi lado viajero</h1>
      <p class="lead my-3">"Un viaje se vive 3 veces: Cuando lo soñamos, cuando lo vivimos y cuando lo recordamos</p>
      <p class="lead mb-0 text-white font-weight-bold ">Invertir en viajar es invertir en uno mismo...</p>
    </div>
  </div>



 <div class="row d-flex justify-content-center p-4">
 <% @bookings.each do |booking| %>
    <div class="card col-md-5 p-md-2 p-4 m-3" style="">
          <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
              <img src="https://blogs.incarail.com/hubfs/Imported_Blog_Media/CuscoRainBlog-1.png" class="img-thumbnail" alt="">
            </div>
            <div class="col-md-8">
              <div class="col p-4 d-flex flex-column position-static">
                <%# ingresamos a la informacion de tour gracias al id que tenemos en booking %>
                <h3 class="mb-2"><%= booking.tour.title_tour %></h3>
                <p class="mb-2"><%= booking.tour.description %> persona(s)</p>
                <p class="mb-2">Experiencia para: <%= booking.quantity %> persona(s)</p>
                <div class="mb-1 text-muted text-right"><%= booking.start_date %>- <%= booking.end_date %></div>
                <p class="mb-auto"><%=  %></p>
              </div>
            <div><%= link_to "Editar", bookings_path(), class:"btn btn-primary btn-lg btn-block"%></div>
            </div>
            </div>
          </div>
    <% end %>
  </div>
</div>
