<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style= "background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1528832095909-2f2436122ce6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=10)">
  <div class="col-md-12 px-0 p-5 card__header">
    <h1 class="display-2 font-italic">Mi lado viajero</h1>
    <br>
    <h2 class="my-3 text-white font-weight-bold">"Un viaje se vive 3 veces: Cuando lo soñamos, cuando lo vivimos y cuando lo recordamos"</h2>
    <br>
    <h2 class="mb-0 text-white font-weight-bold ">Invertir en viajar es invertir en uno mismo...</h2>
  </div>
</div>


<div class="row p-4 contenedor-booking" style="min-height:calc(100vh - 353px - 215px - 30px); box-sizing:border-box;">
  <% @bookings.each do |booking| %>
    <div class="contenedor-booking col-10 py-5">
        <div class="card d-flex justify-content-center p-2 card-booking w-100" style="height: 350px;">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <%= cl_image_tag booking.tour.photos.first.key, height: 280, width: 400, crop: :fill,class:"img-fluid" %>
            </div>
            <div class="col-md-6">
                    <div class = "d-flex justify-content-left">
                    <div class="flex">
                    <div class="text-left">
                        <h1 class = "m-3"><strong> <%= booking.tour.title_tour %> </strong></h1>
                        <p class="price m-3" style="font-size:18px;"> Precio por persona: <strong>S/<%= booking.tour.price %></strong></p>
                        <p class="side-note m-3" style="font-size:18px;">Experiencia para: <strong><%= booking.quantity %> persona(s)</strong></p>
                        <p class= "m-3" style="font-size:18px;">Fecha del tour: <%= booking.start_date %></p>
                        <div class="reviews m-3" style="font-size:18px;">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span class="amount"> <%= booking.tour.reviews.count %> reviews </span>
                        </div>
                    </div>
                        <%= link_to "Ver Más", booking_path(booking), :class => "btn btn-lg",style:"font-size:18px;" %>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
