<%# aca tiene que ir las reservacion a realizar! %>
<body class="bg-light">
  <div class="container">
    <div class="py-2 text-center">
      <h2>FORMULARIO DE PAGO</h2>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="card-text text-center text-muted">Tu cartera</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Costo Unitario:</h6>
              <small class="text-muted">Precio del tour por persona</small>
            </div>
            <span class="text-muted d-flex align-items-center"><%= @tour.price %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Cantidad de Viajeros</h6>
              <small class="text-muted">Personas que viviran la experiencia</small>
            </div>
            <span class="text-muted d-flex align-items-center cant-traveres"><%= cant = 3 %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Cupon de Descuento</h6>
              <small>FLASHCARD2022</small>
            </div>
            <span class="text-success d-flex align-items-center">-<%= desc = 10.00 %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total S/</span>
            <strong><%= (@tour.price * cant) - desc %></strong>
          </li>
        </ul>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Cupon de descuento">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">Descuento</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-8 order-md-1">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://blogs.incarail.com/hubfs/Imported_Blog_Media/CuscoRainBlog-1.png" class="img-thumbnail d-flex justify-content-center align-items-center " alt=". ..">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center"><strong><%= @tour.title_tour %></strong></h5>
              <p class="card-text"><%= @tour.description %></p>
              <p class="card-text text-right"><small class="text-muted"><%= @tour.agency.name %></small></p>
            </div>
          </div>
        </div>
      </div>
      <h4 class="mb-3">Datos requeridos:</h4>
     <%# acá va el form! %>
     <%= simple_form_for [@tour, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :start_date,label: 'Fecha a reservar', placeholder: '22/10/2010' %>
      <%= f.input :quantity,label: 'Cantidad de reservas', placeholder: '1' %>
      <%= f.button :submit ,'Reservar ahora', class: "btn btn-success p-3 w-100 rounded" %>
      <% end %>
       <%#  INICIO COMENTANDO INPUTS CON LOS ESTILO DE BOOTSTRAP %>
        <%# <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un nombre válido.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellidos</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Se requiere un apellido válido.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Correo electrónico <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="tucorreo@gmail.com">
            <div class="invalid-feedback">
              Por favor, ingrese un correo válido.
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="country">Nacionalidad</label>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Escoge tu país</option>
                <option>Argentina</option>
                <option>Bolivia</option>
                <option>Brasil</option>
                <option>Chile</option>
                <option>Colombia</option>
                <option>Costa Rica</option>
                <option>Cuba</option>
                <option>Ecuador</option>
                <option>Estados Unidos</option>
                <option>México</option>
                <option>Perú</option>
              </select>
              <div class="invalid-feedback">
                Escoja un país válido.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">Fecha de Nacimiento</label>
              <input placeholder="Selected date" type="date" id="date-picker-example" class="form-control datepicker">
              </select>
              <div class="invalid-feedback">
                Por favor, ingrese un documento de identidad válido.
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="zip">Documento de Identidad</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Detalles del Tour</label>
            <textarea class="form-control" id="message" name="message" placeholder="Requisitos especiales, por ejemplo necesidades  diabeticas o accesibilidad." rows="4"></textarea>
          </div>
          </div>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Guarda la información para la próxima vez</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Método de pago</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Tarjeta de crédito</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Yape</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="cc-number">Número de tarjeta de crédito</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required>
              <div class="invalid-feedback">
                Número de tarjeta de crédito es requerido
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <label for="cc-expiration">Expiracion</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
              <div class="invalid-feedback">
                Dato de expiración es requerido
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
              <div class="invalid-feedback">
                Código de seguridad es requerido
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <%= link_to "Reserva", bookings_path, class:"btn btn-primary"%>
          <%# <button class="btn btn-primary btn-lg btn-block" type="submit">Reserva Ahora</button>
        </form> %>
        <%#  FIIIN COMENTANDO INPUTS CON LOS ESTILO DE BOOTSTRAP %>

      </div>
    </div>
  </div>
</body>
