<%# aca tiene que ir las reservacion a realizar! %>
<body class="bg-light">
  <div class="container">
    <br>
      <div class="py-2 text-center">
        <h2>FORMULARIO DE PAGO</h2>
      </div>

    <br>

    <div class="row">
        <div class="card mb-3 col-12">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= cl_image_tag @tour.photos[0].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 1" %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center"><strong><%= @tour.title_tour %></strong></h5>
                <p class="card-text ml-2" style="font-size: 14px;"><%= @tour.description %></p>
                <p class="card-text ml-2 text-left text-muted" style="font-size: 14px;">Empresa: <%= @tour.agency.name %></p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-2 mb-4">
        <div class="tucartera">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="card-text text-center text-muted">Tu cartera</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Costo Unitario:</h6>
                <small class="text-muted">Precio del tour por persona</small>
              </div>
              <span class="text-muted d-flex align-items-center"><%= @tour.price %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Cantidad de Viajeros</h6>
                <small class="text-muted">Personas que viviran la experiencia</small>
              </div>
              <span class="text-muted d-flex align-items-center cant-traveres"><%= cant = 3 %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light" >
              <div class="text-success">
                <h6 class="my-0">Cupon de Descuento</h6>
                <small>FLASHCARD2022</small>
              </div>
              <span class="text-success d-flex align-items-center">-<%= desc = 10.00 %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between mt-2">
              <span>Total S/</span>
              <strong><%= (@tour.price * cant) - desc %></strong>
            </li>
          </ul>
        </div>

        <div class="card-payment-booking col-12 border p-3">
          <form> <span id="card-header" style="font-size:18px;">Saved cards:</span>
            <div class="row row-1" id="savedCards">
                <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                <div class="col-7"> <input type="text" placeholder="**** **** **** 4296" style="font-size:18px;"> </div>
                <div class="col-3 d-flex justify-content-center"> <a href="#" style="font-size:18px;">Remove card</a> </div>
            </div>
            <span id="card-header" style="font-size:18px;">Add new card:</span>
            <div class="row-2 ml-4 mt-3">
                <div class="row row-2"> <span id="card-inner" style="font-size:15px;">Card holder name</span> </div>
                <div class="row row-2"> <input type="text" placeholder="Bojan Viner" style="font-size:18px;"> </div>
            </div>
            <div class="row three">
                <div class="col-7">
                    <div class="row-1 ml-4" id="cardNumber">
                        <div class="row row-2"> <span id="card-inner" style="font-size:15px;">Card number</span> </div>
                        <div class="row row-2"> <input type="text" placeholder="5134-5264-4" style="font-size:18px;"> </div>
                    </div>
                </div>
                <div class="col-2" id="expDate"> <input type="text" placeholder="Exp. date" style="font-size:18px;"> </div>
                <div class="col-2" id="cvv"> <input type="text" placeholder="CVV" style="font-size:18px;"> </div>
            </div>
          </form>
        </div>


          <div class="card-payment-booking col-12 border p-3">
            <form> <span id="card-header" style="font-size:12px">Saved cards:</span>
              <div class="row row-1">
                  <div class="col-2"><img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" /></div>
                  <div class="col-7"> <input type="text" placeholder="**** **** **** 4296"> </div>
                  <div class="col-3 d-flex justify-content-center"> <a href="#">Remove card</a> </div>
              </div>
              <span id="card-header" style="font-size:12px">Add new card:</span>
              <div class="row-2 ml-4 mt-3">
                  <div class="row row-2"> <span id="card-inner" style="font-size:12px">Card holder name</span> </div>
                  <div class="row row-2"> <input type="text" placeholder="Bojan Viner"> </div>
              </div>
              <div class="row three">
                  <div class="col-7">
                      <div class="row-1 ml-5">
                          <div class="row row-2"> <span id="card-inner" style="font-size:12px">Card number</span> </div>
                          <div class="row row-2"> <input type="text" placeholder="5134-5264-4"> </div>
                      </div>
                  </div>
                  <div class="col-2"> <input type="text" placeholder="Exp. date"> </div>
                  <div class="col-2"> <input type="text" placeholder="CVV"> </div>
              </div>
            </form>
          </div>

          <%= simple_form_for [@tour, @booking] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :start_date,label: 'Fecha a reservar', placeholder: '22/10/2010' %>
            <%= f.input :quantity,label: 'Cantidad de reservas', placeholder: '1' %>
            <%= f.button :submit ,'Reservar ahora', class: "btn btn-success p-3 w-100 rounded", style:"font-size:3rem;" %>
          <% end %>

        <h5>(*)Recuerda que tienes que completar la informacion de tus acompañantes</h5>
      </div>
    </div>

    <script>
      let PrecioTotal = document.getElementById("PrecioTotal")
      // PrecioTotal.innerHTML = "hola";
      // document.addEventListener("click",CalcularDias)
      const input_fechas  = document.querySelectorAll('.datepicker')
      input_fechas.forEach((input) => {
        input.addEventListener("change", (event) => {
          let inicio = new Date(document.getElementById("FechaInicio").value)
      let fin = new Date(document.getElementById("FechaFin").value)
      let dif = (fin-inicio)/1000/60/60/24;

      // PrecioTotal.innerHTML = `Precio Total: S/ ${ 10 + dif * <@car.price%> }`
      // cuando dif es diferetne de naN multiplicas y muestras en pantalla
      let difChange = document.getElementById("diftime")
      difChange.innerHTML = `Dias de Alquiler: ${dif}`
      console.log(inicio)
      console.log(fin)
      console.log(dif)
      console.log(PrecioTotal)
        })
      })

    </script>



    </div>

  </div>
</body>
