<section class="py-5 show-booking">
  <div class="container px-4 px-lg-5 my-5 ">
      <div class="row gx-4 gx-lg-5 align-items-center data ">
          <div class="col-md-6"><%= cl_image_tag @bookings.tour.photos.first.key, height: 280, width: 400, crop: :fill,class:"img-fluid" %></div>
          <div class="col-md-6">
              <h1 class="mb-4 text-center title" style="font-size:30px;"><%= @bookings.tour.title_tour %></h1>
              <div class="fs-5 mb-4">
                  <h4 class="text-decoration-line-through" style="font-size:18px;">Precio: S/<%= @bookings.tour.price %></h4>
              </div>
              <div class="fs-5 mb-4">
                  <h4 class="text-decoration-line-through" style="font-size:18px;">Fecha-salida: <%= @bookings.start_date %></h4>              </div>
              <div class="fs-5 mb-4">
                <h4 class="text-decoration-line-through" style="font-size:18px;">Fecha-regreso: <%= @bookings.start_date %></h4>
              </div>
              <div class="fs-5 mb-4">
                <h4 class="text-decoration-line-through" style="font-size:18px;">Tiempo de tour: <%= @bookings.tour.duration %></h4>
              </div>
              <div class="fs-5 mb-4">
                  <h4 class="text-decoration-line-through" style="font-size:18px;">Acompañantes: <%= @bookings.quantity %> persona(s)</h4>
              </div>
              <%# <p class="lead text-justify"><%= @bookings.tour.description %>
              <div class="d-flex justify-content-around link-path">
                  <%= link_to 'Editar', edit_booking_path, class: "btn btn-secondary py-3 px-5",style:"font-size:15px;"%>
                  <%= link_to 'Eliminar', booking_path(@bookings), class: "btn btn-secondary py-3 px-5",style:"font-size:15px;", method: :delete, data: {confirm: "Seguro?"}%>
              </div>
          </div>
      </div>

  </div>
   <div class="container ">
    <%# <p style="font-size:2rem;">Tus Acompañantes:</p> %>
    <%#cantidad =@bookings.quantity %>
    <%# actual_companion = Companion.where(booking_id: @bookings.id).count %>
    <%# actual_companion = 0 %>

    <%#(cantidad-actual_companion ).times do%>
    <%# <div class="container-fluid d-flex row mt-3"> %>
      <%#= simple_form_for(@companion, url: booking_companions_path(@bookings)) do |f| %>
            <%#= f.error_notification %>
            <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%#= f.input :first_name,label: 'Primer nombre', placeholder: 'Ana' %>
            <%#= f.input :last_name,label: 'Segundo nombre', placeholder: 'Marcela' %>
            <%#= f.input :age,label: 'Edad', placeholder: '20' %>
            <%#= f.input :document_number,label: 'Documento de Identidad', placeholder: '77414777' %>
            <%#= f.button :submit ,"Confirmar acompañantes" %>
            <%# end %>
    <%# </div> %>
    <%#end%>
    <%# incio ACORDEON %>
      <div class="accordion mt-4 data" id="accordionExample">
        <div class="card w-100">
          <div class="card-header w-100" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p style="font-size:2rem;">Tus Acompañantes:</p>
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%cantidad =@bookings.quantity %>
              <% actual_companion = Companion.where(booking_id: @bookings.id).count %>
              <%# INICIO formularios para CREAR acompañantes %>
              <%(cantidad-actual_companion ).times do%>
              <div class="container-fluid d-flex row mt-3">
                <%= simple_form_for(@companion, url: booking_companions_path(@bookings)) do |f| %>
                      <%= f.error_notification %>
                      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                      <%= f.input :first_name,label: 'Primer nombre', placeholder: 'Ana' %>
                      <%= f.input :last_name,label: 'Apellido', placeholder: 'Marcela' %>
                      <%= f.input :age,label: 'Edad', placeholder: '20' %>
                      <%= f.input :document_number,label: 'Documento de Identidad', placeholder: '77414777' %>
                      <%= f.button :submit ,"Confirmar",class:"btn-success ml-1", style:"font-size:15px;" %>
                      <% end %>
              </div>
              <%end%>
              <%# FIIIN formularios para CREAR acompañantes %>

              <%# formularios para VER acompañantes %>
              <p style="font-size:1.9rem;" class="mt-3">Acompañantes registrados:</p>
              <% @companions.each do |acompanante|%>
                <div class="container-fluid mt-3">
                  <div class="d-flex justify-content-around">
                    <div style="font-size:17px"><label for="">Nombre</label><p> <%=acompanante.first_name%> </p></div>
                    <div style="font-size:17px"><label for="">Apellido</label><p> <%=acompanante.last_name%> </p></div>
                    <div style="font-size:17px"><label for="">Edad</label><p> <%=acompanante.age%> </p></div>
                    <div style="font-size:17px"><label for="">DNI</label><p> <%=acompanante.document_number%> </p></div>
                  </div>
                </div>
              <%end%>
              <%# formularios para VER acompañantes %>
            </div>
          </div>
        </div>
        <div class="card w-100 link-path">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p style="font-size:2rem;">Tu review</p>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
               <div class="container-fluid d-flex row row mt-3">
                <%= simple_form_for(@review, url: booking_reviews_path(@bookings)) do |f| %>
                      <%= f.error_notification %>
                      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                      <div class="col">
                        <%= f.input :content,label: 'Comentario', placeholder: 'Una bonita experiencia, lo recomendaria' %>
                      </div>
                      <div class="col">
                        <%= f.input :rating,label: 'Calificación ', placeholder: '1-5' %>
                      </div>
                       <%= f.input :photos,label: 'Fotos', as: :file, input_html: { multiple: true } %>
                      <%= f.button :submit ,"Enviar Review", class: "btn-success ml-4", style:"font-size:15px;" %>
                      <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    <%# fin ACORDEON %>
  </div>
  <div class="container text-center link-path">
    <%= link_to 'Regresar', bookings_path, :class => "btn btn-secondary py-3 px-5 mt-3",style:"font-size:15px;" %>
    <%= link_to "Imprimir", booking_path(@bookings, format: :pdf), :class => "btn btn-secondary py-3 px-5 mt-3",style:"font-size:15px;" %>
  </div>
</section>
