<!-- <div class="footer container-fluid w-100 pb-4 pt-4  mt-5"> -->
<div class="container-fluid mt-5 mb-5">
    <div class="card position-absolute" id ="card-footer">
        <div class="row mb-4 ">
            <div class="col-md-4 col-sm-11 col-xs-11">
                <div class="footer-text pull-left">
                    <div class="d-flex">
                        <%# <h1 class="font-weight-bold mr-2 px-3" style="color:#16151a; background-color:#957bda"> Q </h1> %>
                        <h1 style="color: #186B6D">Explora</h1>
                    </div>
                    <h5 class="card-text">Somos una empresa que brinda las mejores experiencias de viajes, conectando agencias con turistas.</h5>
                    <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Servicios</h5>
                <ul>
                    <li>Conviertete en afiliado</li>
                    <li>Vive nuevas experiencias</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Empresas</h5>
                <ul class="card-text">
                    <li>Agencias de viaje</li>
                    <li>Museos</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <h5 class="heading">Compañia</h5>
                <ul class="card-text">
                    <li>Acerca de</li>
                    <li>Contacto</li>
                </ul>
            </div>
        </div>
        <div class="divider mb-4"> </div>
        <div class="row" style="font-size:10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
    </div>
</div>



<%# <div class="container-fluid w-100 pb-4 pt-4  mt-5 footer">

  <div class="row social-media justify-content-center ">
    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
  </div> %>


  <%# <div class="row justify-content-around m-3 link-footer "> %>
     <%# <%= link_to "Centro de Ayuda",'',  class: "nav-link" %>
     <%# <%= link_to "Políticas de Privacodad",'', class: "nav-link" %>
     <%# <%= link_to "Nosotros",'', class: "nav-link" %>
     <%# <%= link_to "Agencias de Viajes",'', class: "nav-link" %>
     <%# <%= link_to "Afilitiate a nosotros ",'', class: "nav-link" %>
  <%# </div> %>
  <%# <div class="row justify-content-around m-3">
    <%= link_to "Terminos y condiciones",'', class: "nav-link" %>
     <%# <%= link_to "A© 1997-2022 Explora, Inc.",'', class: "nav-link" %>
  <%# </div> %>
<%# </div> %>
