<div class="container-fluid w-100 pb-4 pt-4  mt-5 footer">
  <div class="row social-media justify-content-center ">
    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>

  </div>
  <div class="row justify-content-around m-3 link-footer ">
     <%= link_to "Centro de Ayuda",'',  class: "nav-link" %>
     <%= link_to "Políticas de Privacodad",'', class: "nav-link" %>
     <%= link_to "Nosotros",'', class: "nav-link" %>
     <%= link_to "Agencias de Viajes",'', class: "nav-link" %>
     <%= link_to "Afilitiate a nosotros ",'', class: "nav-link" %>
  </div>
  <div class="row justify-content-around m-3">
    <%= link_to "Terminos y condiciones",'', class: "nav-link" %>
     <%= link_to "A© 1997-2022 Explora, Inc.",'', class: "nav-link" %>
  </div>
</div>
