<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Actualizar datos de tu agencia </h3>
        <%= simple_form_for(@agency) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :name, placeholder: 'Nombre' %>
          <%= f.input :email, placeholder: 'email' %>
          <%= f.input :tax_number, placeholder: 'R.U.C' %>
          <%= f.input :address, placeholder: 'Dirección' %>
          <%= f.input :state, placeholder: 'Provincia' %>
          <%# <%= f.input :latitude, placeholder: 'latitude' %>
          <%# <%= f.input :longitude, placeholder: 'longitude' %>
          <%= f.button :submit,'Editar agencia', class: "btn btn-success p-3 w-100 rounded",style:"font-size:18px;"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
