
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Estas a punto de crear tu agencia </h3>
        <%= simple_form_for(@agency) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.input :name, placeholder: 'name' %>
          <%= f.input :email, placeholder: 'email' %>
          <%= f.input :tax_number, placeholder: 'tax_number' %>
          <%= f.input :address, placeholder: 'address' %>
          <%= f.input :state, placeholder: 'state' %>
          <%= f.input :latitude, placeholder: 'latitude' %>
          <%= f.input :longitude, placeholder: 'longitude' %>
          <%= f.button :submit, class: "btn btn-success p-3 w-100 rounded" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
