<div class="container-fluid mt-5">
  <div class="container-border-bottom">
   <h1 id="productTitle" class="font-weight-bold mb-0 pt-5"> <%= @tour.title_tour %> </h1>
    <div class="row mb-5 ml-4 d-flex align-items-center justify-content-center">
      <div class="col-md-7 d-md-flex flex-md-wrap align-items-center">
        <div class="star-rating d-flex d-md-inline-flex align-items-center text-nowrap mr-md-4 pb-2">
          <%# @booking.rating.to_i.times do  %>
          <%# <span class="glyphicon glyphicon-star"></span>
          <%# <% end %>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"><span class="mr-2" style="color: rgba(0, 0, 0, 0.5);">(5.0)</span> </i>
        </div>


        <!-- Large modal -->
        <a href="#" class="product-user-review-count visible text-dark" data-toggle="modal" data-target=".bd-example-modal-lg">100 Reseñas</a>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content d-flex justify-content-center">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reseñas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="review-card border-bottom">
                <div class="col-8 card mb-3 border-0">
                  <div class="ml-2 mt-3">
                    <div class="d-flex">
                        <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                        <div class="d-flex flex-column m-3">
                            <h3 class="mt-0 mb-1"><strong>Alexis</strong></h3>
                            <h4>Estados Unidos</h4>
                        </div>
                    </div>
                  </div>
                  <div class="card-body pl-0 ml-3">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">Excelente experiencia! El guía estuvo excelente, muy amable y conocedor. Realmente ha valido la pena. Súper recomendado...</p>
                  </div>
                </div>
              </div>

              <div class="review-card border-bottom">
                <div class="col-8 card mb-3 border-0">
                  <div class="ml-2 mt-3">
                    <div class="d-flex">
                        <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                        <div class="d-flex flex-column m-3">
                            <h3 class="mt-0 mb-1"><strong>Carlos</strong></h3>
                            <h4>España</h4>
                        </div>
                    </div>
                  </div>
                  <div class="card-body pl-0 ml-3">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">Excelente! La organización muy buena. Hacer la reserva por internet fue muy práctico. La agencia fue muy profesional...</p>
                  </div>
                </div>
              </div>

              <div class="review-card border-bottom">
                <div class="col-8 card mb-3 border-0">
                  <div class="ml-2 mt-3">
                    <div class="d-flex">
                        <img src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="ml-0 mr-2 img-fluidX rounded-circle w-25 mb-2" alt="...">
                        <div class="d-flex flex-column m-3">
                            <h3 class="mt-0 mb-1"><strong>María</strong></h3>
                            <h4>Perú</h4>
                        </div>
                    </div>
                  </div>
                  <div class="card-body pl-0 ml-3">
                    <h5 class="card-title text-info">&#9733; &#9733; &#9733; &#9733; &#9733;</h5>
                    <p class="card-text">Hice el tour de Machu Picchu con un grupo de amigos y fue la mejor experiencia de nuestras vidas. Regresaré pronto!...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-md-inline-block px-3"> | </div>
        <div class="mr-md-4"> <%=@tour.destination%> </div>
      </div>

      <div class="col-md-3">
        <div class="share-and-save list-inline ml-5">
          <ul class="list-inline-item">
            <i class="far fa-share-square"></i>
            <li class="list-inline-item">Share</li>
          </ul>
          <ul class="list-inline-item">
            <i class="far fa-heart"></i>
            <li class="list-inline-item">Save to Wishlist</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="gallery-container">
      <div class="gallery">
        <%# <% @tour.photos.each do |photo| %>
          <figure class="gallery__item gallery__item--1">
            <%= cl_image_tag @tour.photos[0].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 1" %>
          </figure>
          <figure class="gallery__item gallery__item--2">
            <%= cl_image_tag @tour.photos[1].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 2" %>
          </figure>
          <figure class="gallery__item gallery__item--3">
            <%= cl_image_tag @tour.photos[2].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 3" %>
          </figure>
          <figure class="gallery__item gallery__item--4">
            <%= cl_image_tag @tour.photos[3].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 4" %>
          </figure>
          <figure class="gallery__item gallery__item--5">
            <%= cl_image_tag @tour.photos[4].key, height: 300, width: 400, crop: :fill,class: 'gallery__img',alt: "Gallery image 5" %>
          </figure>
      </div>
    </div>

    <div class="row d-flex justify-content-center">


        <%# ----BOTON RESERVAR------ %>
      <div class="col-sm-10 mx-auto">
        <div class="card- border-0 w-100 ml-0 mr-0">
          <div class="card-body">
            <h1 class="h3 mb-3 text-center">Reserva tus tours con Explora</h1>
            <a href="<%=new_tour_booking_path(@tour) %> " class="btn btn-success p-3 w-100 rounded reservar-btn" style="font-size:3rem">Reservar</a>
          </div>
        </div>
      </div>

      <div class="col-12 mx-auto mt-3">
            <%# ---DESCRIPCION-----%>
        <div class="description-container col-10 mb-3">
          <h2 class="font-weight-bold">Descripción</h2>
          <div>
          <p style="font-size: 16px;"> <%= @tour.description %> </p>
          </div>
        </div>

        <%# -----PRECIO------ %>
       <div class="price-container col-10 mb-3">
         <h2 class="text-left font-weight-bold" style="font-size: 18px;">Precio por persona: S/ <%= @tour.price %> </h2>
       </div>
      </div>
    </div>


    <%# -----------ACCORDION---------------------- %>
    <div class="accordion-container col-10" id="accordionExample">
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingOne">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Servicios incluidos </h2>
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div>
                  <p style="font-size: 16px;"><%= @tour.services %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingTwo">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link btn-outline-none collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Salida y regreso
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 16px;"> <%= @tour.departure %> </p>
            </div>
          </div>
        </div>
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingThree">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Qué esperar
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
             <p style="font-size: 16px;"> <%= @tour.expectation %> </p>
            </div>
          </div>
        </div>
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingFour">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Información adicional
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 16px;"> <%= @tour.additional_info %> </p>
            </div>
          </div>
        </div>
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingFive">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Política de cancelación
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 16px;"><%= @tour.cancellation %> </p>
            </div>
          </div>
        </div>
        <div class="accordion-card">
          <div class="accordion-card-header" id="headingSix">
            <h2 class="mb-0 border-bottom" style="font-size: 24px;">
              <button class="btn-accordion btn-link collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Preguntas frecuentes
              </button></h2>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix"data-parent="#accordionExample">
            <div class="card-body">
              <p style="font-size: 16px;"><%= @tour.faq %></p>
            </div>
          </div>
        </div>
                <div class="accordion-card">
                <div class="accordion-card-header" id="headingSeven">
                  <h2 class="mb-0 border-bottom" style="font-size: 24px;">
                    <button class="btn-accordion btn-link collapsed text-decoration-none w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Fotos de viajeros
                    </button></h2>
                  </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                  <div class="card-body row w-100" style="overflow-x:scroll;">
                    <%@tour.reviews.each do|review|%>
                        <%if review.photos.attached? %>
                          <div class="">
                              <%= cl_image_tag review.photos.first.key, class: "pic" %>
                          </div>
                        <%else %>
                        <% end%>
                    <%end%>
                  </div>
                </div>
        </div>
    </div>

<br>
    <%# -----------CUADRO RATING + REVIEWS ---------------------- %>
  <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row justify-content-center">
      <h2 class="h2 text-center" style="font-size:3rem">Opiniones de otros aventureros</h2>
          <div class="col-10 text-center mb-5">
              <div class="card-rating">
                  <div class="row justify-content-left d-flex">
                      <div class="col-md-4 d-flex flex-column">
                          <div class="rating-box">
                              <h1 class="pt-4">4.0</h1>
                              <p class="">de 5</p>
                          </div>
                          <div> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> </div>
                      </div>
                      <div class="col-md-8">
                          <div class="rating-bar0 justify-content-center">
                              <table class="text-left mx-auto">
                                  <tr>
                                      <td class="rating-label">Excelente</td>
                                      <td class="rating-bar">
                                          <div class="bar-container">
                                              <div class="bar-5"></div>
                                          </div>
                                      </td>
                                      <td class="text-right">123</td>
                                  </tr>
                                  <tr>
                                      <td class="rating-label">Bueno</td>
                                      <td class="rating-bar">
                                          <div class="bar-container">
                                              <div class="bar-4"></div>
                                          </div>
                                      </td>
                                      <td class="text-right">23</td>
                                  </tr>
                                  <tr>
                                      <td class="rating-label">Promedio</td>
                                      <td class="rating-bar">
                                          <div class="bar-container">
                                              <div class="bar-3"></div>
                                          </div>
                                      </td>
                                      <td class="text-right">10</td>
                                  </tr>
                                  <tr>
                                      <td class="rating-label">Malo</td>
                                      <td class="rating-bar">
                                          <div class="bar-container">
                                              <div class="bar-2"></div>
                                          </div>
                                      </td>
                                      <td class="text-right">3</td>
                                  </tr>
                                  <tr>
                                      <td class="rating-label">Terrible</td>
                                      <td class="rating-bar">
                                          <div class="bar-container">
                                              <div class="bar-1"></div>
                                          </div>
                                      </td>
                                      <td class="text-right">0</td>
                                  </tr>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="row mt-4 ml-2 d-flex scroll-review d-flex justify-content-around" style=" overflow-y: scroll; ">
              <% @tour.reviews.each do |review|  %>
              <div class="card-rating col-md-5">
                  <div class="row d-flex align-items-center">
                      <div class="profile-pic">
                        <% if review.user.photo.attached?%>
                          <%= cl_image_tag review.user.photo.key, class: "profile-pic", id:"navbarDropdown", data: { toggle: "dropdown" },'aria-haspopup': true, 'aria-expanded': false %>
                        <%else%>
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8JyScJ3XAm0g9mNMQ1Ws7EI6LoVgs7_HDXg&usqp=CAU" class="ml-0 mr-2 profile-pic" alt="..">
                        <%end%>
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h3 class="mt-2 mb-0"><%=review.user.first_name%></h3>
                        <div>
                            <p class="text-left"><span class="text-muted"><%=(review.rating)%></span> <span class="stars ml-3"><%(review.rating.to_i).times do %> &#9733;
                                 <%end%></span>
                            </span>
            </div>
                      </div>
                    <div class="ml-auto">
                      <p class="text-muted pt-5 pt-sm-3">09-02-22</p>
                    </div>
                  </div>
                  <div class="row text-left">
                      <p class="content mt-3" style="font-size: 14px;"><%=review.content%></p>
                  </div>
                  <div class="row text-left">
                    <div class="card-body row w-100">
                      <%review.photos.each do |photos|%>
                          <% if photos.present? %>
                            <div class="pic">
                                <%= cl_image_tag photos.key, class: "pic" %>
                            </div>
                          <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row text-left">
                      <div class="like mr-3 vote"> <img src="https://i.imgur.com/mHSQOaX.png"></div>
                      <div class="unlike vote"> <img src="https://i.imgur.com/bFBO3J7.png"></div>
                  </div>
              </div>
             <%end%>
            </div>

          </div>
      </div>
  </div>

  <br>
    <%# -----------EXPERIENCIAS SIMILARES--------------------- %>
    <div class="similar-experiences row mt-lg-4 d-flex justify-content-center">
      <div class="cards-title-container">
        <div class="title text-center">
          <h2 style="font-size:3rem">Experiencias similares</h2>
        </div>

        <div class="cards-container d-flex">
          <% @tours.sample(1).each do |e| %>
            <div class="card-container py-3">
              <i class="far fa-heart" id="card-heart"></i>
              <%= cl_image_tag e.photos.first.key, height: 300, width: 400, crop: :fill %>
              <div class="card-content" style="height: 38%;">
                <div class="d-flex flex-column">
                  <div class="flex-grow-1">
                    <h2 class="title"><a href="<%= tour_path(e) %>" class="text-dark stretched-link"><%= e.title_tour %></a></h2>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"><span class="ml-2" style="color: rgba(0, 0, 0, 0.5);">37</span> </i>
                    <p><i class="far fa-clock" style="color: #D1D1D1"></i> <%= e.duration %> </p>
                    <h2 class="price text-dark">desde <strong>S/ <%= e.price %></strong></h2>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row mt-2 mb-5 d-flex justify-content-end">
          <button class="btn-similaries btn-link">
            <span class="h6 text-dark"><strong>Mostrar todos (2,000+) &gt;</span></strong>
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
