<!DOCTYPE html>
<html>
  <head>
    <title>EXPLORA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://i.postimg.cc/bNs2kqgV/Screen-Shot-2022-02-08-at-01-24-31.png" />

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= render 'shared/footer' %>
  </body>
  <script src="https://kit.fontawesome.com/4825ae8b8d.js" crossorigin="anonymous"></script>
</html>
